.oneByOneView {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.oneByOneView .movie  {
  width: 600px;
    height: 500px;
    margin: 1rem;
    margin-bottom: 20px;
  }
.change {
  margin-left: 15px;
  display: flex;
  gap: 20px;
}
.changebtn {
  font-size: 10px;
}

:root {
    --font-open-sans: "Open Sans", sans-serif;
    --font-lora: "Lora", serif;
  }
  
  body {
    font-family: var(--font-open-sans);
  }
  
  .app {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.8px;
    color: #007bff;
    width: fit-content;
  }
  
  .search {
    margin: 2rem auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search input {
    flex: 1;
    border: none;
    font-size: 1.2rem;
    font-family: var(--font-open-sans);
    font-weight: 400;
    padding: 0.5rem;
    outline: none;
    color: #333333;
  }
  
  .search img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .empty {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.2rem;
    color: #ff9900;
    font-family: var(--font-lora);
  }
  
  
  
  .movie {
    width: 280px;
    height: 420px;
    margin: 1rem;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    transition: all 0.3s ease-in-out;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .movie div:nth-of-type(1) {
    position: absolute;
    padding: 12px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: #fff;

  }
  
  .movie:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
  .movie div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
  }
  
  .movie div:nth-of-type(3) {
    z-index: 2;
    background-color: #333333;
    padding: 12px 20px 20px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .movie div:nth-of-type(3) span {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .movie div:nth-of-type(3) h3 {
    margin-top: 4px;
    font-family: "Lora", serif;
    color: #fff;
    font-size: 20px;
  }
  
  .movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
  }
  
  .movie:hover div:nth-of-type(3) {
    background-color: transparent;
  }
  
  .movie:hover div:nth-of-type(1) {
    opacity: 1;
  }
  
  .title {
    width: 1500px;
    font-size: 25px;
    letter-spacing: 1px;
    color: black;
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  

.container {
    margin-left: -250px;
    width: 1500px;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
  .game {
    width: calc(33.33% - 2rem);
    margin: 1rem;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  .select{
    margin-left: 50px;
    border-radius: 5px;
    padding: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
  }
 
  
  @media screen and (max-width: 600px) {
    .app {
      padding: 2rem 1rem;
    }
    .search {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .app {
      padding: 2rem 0.5rem;
    }
    h1 {
      font-size: 2rem;
    }
    .container {
      margin-top: 1.5rem;
    }
    .movie {
      width: 100%;
      margin: 1rem 0;
    }
  }