*{
    box-sizing: border-box;
}
body{
    color: #222;
}
main {
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
}
header{
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #222;
    
}

header a {
    
    text-decoration: none;
    color: inherit;

}
header a.logo{
    font-weight: bold;
    font-size: 1.5rem;

}
header nav  {
    display: flex;
    gap: 15px;
}
img {
    max-width: 100%;

}
div.post{
    
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 20px;
    margin-bottom: 30px;
}
div.post div.texts h2{
    margin: 0;
    font-size: 1.7rem;
    
}
div.post div.texts a {
    text-decoration: none;
    color: inherit;
}
div.post p.info {
    margin: 6px 0;
    color: 888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

div.post p.info a.author{
    color: #333;
    text-decoration: none;
}
div.post p.summary{
    margin: 10px 0;
    line-height:1.4rem;

}
form.login form.regiser{
    max-width: 400px;
    margin: 0 auto;

}
input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

button {
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}

form h2{
    text-align: center;
    
}

form.login h2,form.register h2{
    text-align: center;

}

div.post-page div.post-img{
    max-height: 200px;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

div.post-page div.post-img img{
    object-fit: cover;
    object-position: center center;
    margin-bottom: 20px;
    width: 100%;
}

div.post-page a{
    color: #333;
    text-decoration: underline;
}

div.post-page h1{
    text-align: center;
    margin-bottom: 10px;

}
div.post-page time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
    margin-bottom: 10px;

}
div.post-page .author{
    text-align: center;
    display: block;
    font-size: .8rem;
    color: #000;
    margin-bottom: 20px;

}
div.post-page .post-content{
    text-align: justify;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
